<!DOCTYPE html>
<html>
<head>
  <title>RespectRails</title>
  <%= stylesheet_link_tag    "respect/rails/application", :media => "all" %>
  <%= javascript_include_tag "respect/rails/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
