/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

body { background-color: #fff; color: #333; }

body, p, ol, ul, td {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size:   14px;
  line-height: 24px;
}

body {
  padding-top: 20px;
  padding-bottom: 40px;
  width: 1024px;
  margin-left: auto;
  margin-right: auto;
}

pre {
  background-color: #f8f8f8;
  padding: 10px;
  font-family: monospace;
  font-size: 13px;
  white-space: pre;
  border-style: solid;
  border-width: 1px;
  border-color: #ccc;
}

a {
  color: rgb(205, 91, 69);
  text-decoration: none;
}
a:hover {
  color: rgb(205, 91, 69);
  text-decoration: underline;
}

h1 {
  font-size: 30px;
}

h2 {
  font-size: 27px;
}

h3 {
  font-size: 22px;
}

hr {
  border-color: rgb(205, 91, 69);
  border-width: 4px;
  border-style: solid;
  margin-top: 50px;
  margin-bottom: 50px;
}

/* Table of contents */

.toc-header {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: rgb(205, 91, 69);
  line-height: 30px;
  margin-bottom: 40px;
}

.toc {
  width: 100%;
  border-spacing: 0px;
}

.toc-section {
  color: rgb(205, 91, 69);
}

.toc tr:hover {
  background-color: rgb(255, 240, 237);
}

.toc td {
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 8px;
}

/* JSON highlighting */

.json_highlight .keyword {
  font-weight: bold;
}

.json_highlight .numeric {
  color: #099;
}

.json_highlight .key {
  color: #000080;
}

.json_highlight .string {
  color: #d14;
}

.json_highlight .comment {
  color: rgb(236, 166, 18);
}
