<h1><%= @routes.app.name %> REST API Reference documentation</h1>

<h2>Routes index</h2>

<ul>
<% @routes.each do |route| %>
  <li><%= route.spec %></li>
<% end %>
</ul>

<h2>Table of content</h2>

<ul>
<% @routes.engines.each do |engine| %>
  <li><%= engine.name %></li>
<% end %>
</ul>
