<h1><%= @routes.app_name %> REST API Reference documentation</h1>

<h2>Routes index</h2>

<% @routes.each do |route| %>
<ul>
  <li><%= route.spec %></li>
</ul>
<% end %>

<h2>Table of content</h2>

<ul>
<% @routes.each_engine do |name, routes| %>
  <li><%= name %></li>
<% end %>
</ul>
