<h1><%= @info.app.name.titleize %> REST API Reference documentation</h1>

<h2>Routes index</h2>

<ul>
<% @info.routes.sort.each do |route| %>
  <li><%= route.spec %></li>
<% end %>
</ul>

<h2>Table of content</h2>

<ul>
<% @info.engines.values.sort.each do |engine| %>
  <li><%= engine.name.titleize %></li>
<% end %>
</ul>
